<html>
  <mat-toolbar>
    <span>{{title}}</span>
    <span class="example-fill-remaining-space"></span>
    <span>
      <button (click)="zoomGridOut()">🔎-</button>
      <button (click)="zoomGridIn()">🔎+</button>
      &nbsp;
      <button (click)="decreaseGridWidth()">↔-</button>
      <button (click)="increaseGridWidth()">↔+</button>
      &nbsp;
      <button (click)="decreaseGridHeight()">↕-</button>
      <button (click)="increaseGridHeight()">↕+</button>
    </span>
  </mat-toolbar>
  <mat-drawer-container>
    <mat-drawer  disableClose="true" mode="side" opened>
      <div>
          <app-toolbox></app-toolbox>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <app-workspace></app-workspace>
    </mat-drawer-content>
  </mat-drawer-container>
</html>